""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set NERDTree
Plug 'machakann/vim-highlightedyank'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set clipboard+=unnamed,unnamedplus
set wrap
set textwidth=140
set ignorecase
set smartcase
set matchpairs+=<:>

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=enable
set idearefactormode=visual

""" Mappings --------------------------------
" intellij ide code actions list: https://keithlea.com/idea-actions/

" code action
map gd <Action>(GotoDeclaration)
map gr <Action>(GotoReference)
map gI <Action>(GotoImplementation)
map gS <Action>(GotoSuperMethod)
map gD <Action>(GotoTypeDeclaration)

map <leader>f <Action>(ReformatCode)
map <leader>rn <Action>(RenameElement)
map <leader>q <Action>(GotoNextError)
map <leader>cg <Action>(Generate)
map <leader>oi <Action>(OptimizeImports)
map <leader>gt <Action>(GotoTest)

map <leader>ta <Action>(ShowIntentionActions)
map <leader>ds <Action>(FileStructurePopup)
map <leader>s. <Action>(RecentFiles)
map <leader>td <Action>(QuickTypeDefinition)
map <leader>ti <Action>(ExpressionTypeInfo)
map <leader>th <Action>(ShowHoverInfo)
map <leader>tu <Action>(ShowUsages)

" ide
map <leader>e <Plug>(easymotion-s)
map - <Action>(SelectInProjectView)
map <leader>- :NERDTree<cr>
map <leader>an <Action>(Run)
map <leader>ac <Action>(Stop)
" toggle distraction mode will reset all tool window view mode, which is bad
"map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>z <Action>(HideAllWindows)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>da <Action>(AndroidConnectDebuggerAction)
map <leader>cf <Action>(Find)
map <leader>cr <Action>(Replace)
map <leader>re <Action>(RenameFile)
map <leader>tw <Action>(ToolWindowsGroup)

""" VCS
map <leader>gg <Action>(Vcs.QuickListPopupAction)
map <leader>gc <Action>(CheckinProject)
map <leader>gu <Action>(Vcs.UpdateProject)
map <leader>gp <Action>(Vcs.Push)
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gbc <Action>(GitCheckoutFromInputAction)
map <leader>gbn <Action>(GitNewBranchAction)
"map <leader>gd <Action>(Diff.ShowStandaloneDiff)
map <leader>gd <Action>(Vcs.RollbackChangedLines)

" vim rc file
noremap <leader>ve :edit ~/.ideavimrc<cr>
map <leader>vs <Action>(IdeaVim.ReloadVimRc.reload)
